body{
    background-image: url("./3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.box{
    width: 300px;
    background-color: aliceblue;
    box-shadow: 8px 4px 12px 4px rgba(46, 11, 29, 0.21);
    border-radius: 12px;
    padding: 2.5rem;
}

.input-field{
    padding: 6px 0px;
}

h1 {
    text-align: center;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

input{
    width: 80%;
    border:none;
    border-bottom: 2px solid pink;
    outline:none;
    font-size: 15px;
}

button{
    cursor:pointer;
    width: 100%;
    border: none;
    color: white;
    font-size: 20px;
    background-color: rgba(166, 249, 255, 1); 
    padding: 5px 0px;
}

.input-field p {
    font-style: italic;
    cursor:pointer;
}

button:hover{
    background-color: rgba(166, 249, 255, 0.4) ;
}

.account-info {
    display: none;
}

.account:hover .account-info{
    display: block;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300%;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }